#cabeceraprincipal {
    background-image: url("logo1.png"), url("avengers.jpg");
    background-position: top left, 100% center;
    background-repeat: no-repeat, repeat;
    background-origin: border-box, content-box;
    color:  white;
    height: min-content;
}

h1 {
    text-shadow: -5px 4px 6px gray;
    font-size: 400%;
}

header {
    border: 3px solid red;
    border-radius: 15px;
    padding: 5px 20px;
    background: orange;
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
}


